@import '~styles/_variables.scss';

.character {
  span.clickable {
    // background-color: $gray-800;
    cursor: pointer;
    padding: 0.5rem 0.8rem;
  }

  sup.clickable {
    cursor: pointer;
    padding: none;
  }

  .hp-display {
    background: transparent;
    border: none;
    margin-bottom: 2px;

    .card-body, .card-footer {
      padding: 0.375rem 0.75rem;
      text-align: center;
    }
    .card-body {
      background-color: $gray-700;
      border-color: $gray-800;
      font-size: 2em;
    }
    .card-footer {
      background: transparent;
      border: none;
    }
  }
}