<div class="character">
  <h2 class="clickable" (click)="showName()">{{character.name}}</h2>
  <div class="card hp-display">
    <div class="card-body">
      <p class="card-text"><span class="clickable">{{character.hp.current}}</span> /
        <span class="clickable" (click)="showMaxHP()">{{character.hp.max}}</span>
        <sup class="clickable" (click)="showTempMaxHP()">(+ {{character.hp.tempMax}})</sup>
      </p>
    </div>
    <div class="hp-bar">
      <div class="bar" [ngStyle]="hpBarStyle">&nbsp;</div>
    </div>
    <div class="card-footer">Hit Points</div>
  </div>
  <div class="card hp-display">
    <div class="card-body">
      <p class="card-text"><span class="clickable" (click)="showTempHP()">{{character.hp.temp}}</span></p>
    </div>
    <div class="card-footer">Temporary Hit Points</div>
  </div>
  <app-max-hp-modal></app-max-hp-modal>
  <app-temp-hp-modal></app-temp-hp-modal>
  <app-temp-max-hp-modal></app-temp-max-hp-modal>
  <app-name-modal></app-name-modal>
  <app-concentration-modal></app-concentration-modal>
</div>