<app-modal [show]="show">
  <div class="modal-body">
    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label col-form-label-lg">Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control form-control-lg" id="name" placeholder="Paladin" [(ngModel)]="value" (keydown.enter)="setName()">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-primary" (click)="setName()">Set Name</button>
    <app-modal-close-footer (click)="close()"></app-modal-close-footer>
  </div>
</app-modal>