<div class="tracker">
  <h2>{{hp.character}}</h2>
  <div class="card hp-display">
    <div class="card-body">
      <p class="card-text">{{hp.currentHp}} / {{hp.maxHp}} <sup>(+ {{hp.tempMaxHp}})</sup></p>
    </div>
    <div class="card-footer">Hit Points</div>
  </div>
  <div class="card hp-display">
    <div class="card-body">
      <p class="card-text">{{hp.tempHp}}</p>
    </div>
    <div class="card-footer">Temporary Hit Points</div>
  </div>
  <app-keypad></app-keypad>
  <app-max-hp-modal></app-max-hp-modal>
</div>