<div class="tracker">
  <h2>{{character.name}}</h2>
  <div class="card hp-display">
    <div class="card-body">
      <p class="card-text">{{character.hp.currentHp}} / {{character.hp.maxHp}} <sup>(+ {{character.hp.tempMaxHp}})</sup></p>
    </div>
    <div class="card-footer">Hit Points</div>
  </div>
  <div class="card hp-display">
    <div class="card-body">
      <p class="card-text">{{character.hp.tempHp}}</p>
    </div>
    <div class="card-footer">Temporary Hit Points</div>
  </div>
  <div class="spacer"></div>
  <app-keypad></app-keypad>
  <app-max-hp-modal></app-max-hp-modal>
</div>