<div class="keypad">
  <div class="display">
    <div class="value">
      {{keypad.value}}
    </div>
    <button class="btn btn-secondary clear" (click)="pressClear()"><i class="fa fa-times"></i></button>
  </div>
  <div class="numbers">
    <div class="key">
      <button class="btn btn-success" (click)="pressHeal()">Heal</button>
    </div>
    <div class="key">
      <button class="btn btn-primary" (click)="pressNum(0)">0</button>
    </div>
    <div class="key">
      <button class="btn btn-danger" (click)="pressHurt()">Hurt</button>
    </div>
    <div class="key" *ngFor="let n of buttons">
      <button class="btn btn-primary" (click)="pressNum(n)">{{n}}</button>
    </div>
  </div>
</div>